mat-toolbar {
    height: 3.5rem;
}

mat-toolbar .company-title {
    font-weight: 700;
    font-style: italic;
    color: var(--mat-sys-primary);
    cursor: pointer;
}

mat-toolbar ul {
    color: var(--mat-sys-on-surface);
    font-size: 1.25rem;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.cart-btn {
    margin-left: 0.75rem;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.cart-icon {
    height: 2rem !important;
}

@media (max-width: 560px) {
    .company-title, .toolbar-spacer {
        display: none;
    }

    nav ul {
        justify-content: center;
    }
}
