<mat-toolbar>
    <span class="company-title" routerLink="/home">ngTravel</span>
    <span class="toolbar-spacer"></span>
    @if (isLoggedIn) {
        <button mat-button (click)="logout()">Kijelentkezés</button>
        <button mat-button routerLink="/profile">Profilom</button>
    }
    @if (!isLoggedIn) {
        <button mat-button routerLink="/login">Bejelentkezés</button>
    }
    <button mat-button routerLink="/schedule">Menetrend</button>
    <button mat-button routerLink="/cart" class="cart-btn">
        <mat-icon class="material-symbols-outlined">shopping_cart</mat-icon>
        Kosár
    </button>
</mat-toolbar>
