.content {
    height: 100%;
    width: 100%;
}

h1 {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.schedule-content {
    margin: 0 2.5rem;
    overflow-y: auto;
    max-height: 85%;
    border-radius: 0.75rem;
}

.back-btn {
    margin: 1.25rem auto;
    display: block;
}

.empty-schedule-label {
    text-align: center;
}

.add-to-cart-btn {
    padding: 0 1.5rem;
}

.mat-column-price {
    height: 5rem;
}

.expired {
    text-decoration: line-through;
    color: grey;
}

.no-available-seats {
    color: var(--mat-sys-error);
}

@media (max-width: 800px) {
    .mat-column-route-number, .mat-column-seats {
        display: none;
    }
    .schedule-content {
        margin: 0;
        border-radius: 0;
    }
}

@media (max-width: 640px) {
    .route-price {
        display: none;
    }

    .cart-nav-icon {
        margin: 0 auto;
    }
}