.content {
    height: 100%;
    width: 100%;
}

h1 {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.schedule-content {
    margin: 0 2.5rem;
    overflow-y: auto;
    max-height: 85%;
}

.back-btn {
    margin: 1.25rem auto;
    display: block;
}

.empty-schedule-label {
    text-align: center;
}

.add-to-cart-btn {
    padding: 0 1.5rem;
}