<div class="content">
  <mat-card>
    <mat-card-header>
      <span class="card-title">Profilom</span>
    </mat-card-header>
    <mat-card-content>
      @if (loading) {
        <span class="loading-label">Adatok betöltése..</span>
      } @else {
        @if (user) {
          <p><strong>Név:</strong> {{ user.name.firstName }} {{ user.name.lastName }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
        }

        <span class="section-title">Felhasználható jegyek ({{ tickets.length }})</span>
        @if (tickets.length > 0) {
          <mat-list class="tickets">
            @for (ticket of tickets; track ticket.id) {
              <mat-list-item>
                <div class="ticket-content">
                  <span>{{ ticket.routeData.departure.location }} ({{ ticket.routeData.departure.time | easydate:'yyyy-MM-dd HH:mm' }}) - </span>
                  <span>{{ ticket.routeData.arrival.location }} ({{ ticket.routeData.arrival.time | easydate:'yyyy-MM-dd HH:mm' }})</span>
                </div>
              </mat-list-item>
            }
          </mat-list>
        } @else {
          <span>Nincsenek jegyek.</span>
        }

        <span class="section-title">Tranzakciók</span>
        @if (transactions.length > 0) {
          <mat-list class="transactions">
            @for (transaction of transactions; track transaction.id) {
              <mat-list-item>
                <div class="transaction-content">
                  <span class="transaction-timestamp">{{ transaction.timestamp | easydate:'yyyy-MM-dd HH:mm' }}</span>
                  <span class="transaction-details">{{ transaction.info }}</span>
                  <span class="transaction-amount">{{ transaction.paidAmount }} Ft</span>
                </div>
              </mat-list-item>
            }
          </mat-list>
        } @else {
          <span>Nincsenek tranzakciók.</span>
        }
      }
    </mat-card-content>
  </mat-card>
</div>