<div class="content">
    <mat-card>
        <mat-card-header>
            <h1>Bejelentkezés</h1>
        </mat-card-header>
        <mat-card-content>
            <div class="login-content">
                <form (ngSubmit)="login()">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="email" [formControl]="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Jelszó</mat-label>
                        <input matInput type="password" [formControl]="password">
                    </mat-form-field>
                    <button mat-flat-button class="login-btn" type="submit">Bejelentkezés</button>

                    @if (formErrorMessage) {
                        <div class="error-message">
                            {{ formErrorMessage }}
                        </div>
                    }
                </form>
            </div>
            <a [routerLink]="['/signup']" routerLinkActive="active">Nincs fiókod? Regisztrálj itt</a>
        </mat-card-content>
    </mat-card>
</div>
