.content {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

mat-card {
  width: 40vh;
  max-height: 70vh;
  height: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex: 1 1 auto;
  padding-right: 1rem;
}

.tickets-container {
  display: flex;
  flex-direction: column;
}

.ticket-item {
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.ticket-info div {
  margin-bottom: 0.75rem;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--mat-sys-on-surface);
    margin-bottom: 1.5rem;
}

.ticket-count {
    margin-bottom: 1.5rem;
}

.total-price {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.ticket-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ticket-details {
  display: flex;
  flex-direction: column;
}

hr {
  opacity: 0.3;
}