<div class="content">
  <mat-card>
    <mat-card-header>
      <h1>Kosár</h1>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="loading">Adatok betöltése..</div>
        <div *ngIf="!loading" class="loaded-content">
            <div *ngIf="ticketsInCart.length > 0; else emptyCart" class="tickets-container">
                <div *ngFor="let ticket of ticketsInCart" class="ticket-item">
                    <div class="ticket-info">
                        <div class="ticket-details">
                            <div><strong>Indulás:</strong> {{ ticket.routeData.departure.location }}</div>
                            <div><strong>Érkezés:</strong> {{ ticket.routeData.arrival.location }}</div>
                            <div><strong>Ár:</strong> {{ ticket.routeData.price }} Ft</div>
                        </div>
                        <button mat-icon-button color="warn" (click)="removeTicket(ticket)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="ticketsInCart.length > 1">
                            <hr>
                    </div>
                </div>
                <div class="total-price" *ngIf="ticketsInCart.length > 0">
                    <strong>Összesen:</strong> {{ totalPrice }} Ft
                </div>
                <button mat-flat-button color="primary" (click)="payAllTickets()" class="payment-btn">
                    Fizetés
                </button>
            </div>
            <ng-template #emptyCart>
                <span class="ticket-count">A kosár üres</span>
            </ng-template>
        </div>
    </mat-card-content>
  </mat-card>
</div>