/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat; 

* { box-sizing: border-box; }

html, body { 
    height: 100%;
    font-family: 'Roboto', 'Arial';
    margin: 0;
    overflow: hidden;
}

html {
    // TODO: változtatni 'light dark' - ?
    color-scheme: light;
    @include mat.theme (
        (
            color: (
                primary: mat.$blue-palette
            ),
            typography: Roboto
        )
    );
}

